/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background: #6A85B6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bac8e0, #6A85B6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bac8e0, #6A85B6);  
}


