<div class="container" *ngIf="item" (click)="cerrarModal()">
    <div class="card animate__animated animate__fadeIn">
        <div class="container-img" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
        </div>

        <div class="container-info">
            <br>
            <h2>{{item.accommodationType}}</h2>
            <br>
            <hr>
            <br>
            <p class="zona-c">Zona {{item.zone}}</p>
            <p class="capaci-c">Capacidad de personas {{item.numberPeople}}</p>   
            <p class="precio-c">Precio por persona {{item.price | currency:'USD':'symbol':'1.0-0'}}</p>
            <p class="dispo-c">Disponible {{item.entryDate | date: 'mediumDate'}} - {{item.exitDate | date: 'mediumDate'}}</p>                
            <br>
            <hr>
            <br>
            <p class="dispo-c">Servicio adicional: {{ item.additionalServices }}</p>
            <br>
        </div>
    </div>
</div>